* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    display: flex;
    flex-direction: column;
    border-radius: 5rem;
    margin: 2rem auto;
    max-width: 23rem;
    color: white;
    line-height: 2;
    font-size: 15PX;    
}

.sedans {
    display: flex;
    flex-direction: column;
    background: hsl(31, 77%, 52%);
    padding: 4rem;
    border-radius: 1rem 1rem 0 0;
}

.btn-sedans {
    text-decoration: none;
    color: hsl(31, 77%, 52%);
    font-weight: 700;

}

h1 {
    font-family: "Big Shoulders", sans-serif;
    font-weight: 400;
    font-size: 3rem;
}

.suvs {
    display: flex;
    flex-direction: column;
    background: hsl(184, 100%, 22%);
    padding: 4rem;
}

.btn-suvs {
    text-decoration: none;
    color:  hsl(184, 100%, 22%);
    font-weight: 700;
}

.luxury {
    display: flex;
    flex-direction: column;
    background: hsl(179, 100%, 13%);
    padding: 4rem;
    border-radius: 0 0 1rem 1rem;
}

.btn-luxury {
    text-decoration: none;
    color:  hsl(179, 100%, 13%);
    font-weight: 700;
}

img {
    width: 30%;
    margin-bottom: 2rem;
}

p {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    font-family: "Lexend Deca", sans-serif;
}

button {
    background-color: #ffffff;
    border: none;
    text-decoration: dotted;
    padding: 1.1rem;
    border-radius: 2rem;
    max-width: 10rem;
    font-size: 1.1rem;
    color: hsl(0, 0%, 0%);
}

@media (min-width: 900px) {

    main {
        flex-direction: row;
        margin: 7rem auto;
        max-width: 70%;
    }

    .sedans {
        padding: 3rem;
        border-radius: 1rem 0 0 1rem;
    }
    .suvs {
        padding: 3rem;
    }

    .luxury {
        padding: 3rem;
        border-radius: 0 1rem 1rem 0;
    }
    
    
}